{% extends "AppBlog/base.html" %}
{% load static %}

{% block sections %}
<h1>About</h1>
<img src="{% static 'AppBlog/assets/img/DY.png' %}" alt="">
<p>Hola, soy Dylan! Estudiante autodidacta de desarrollo web y python, radicado en Argentina.

    Comencé a aprender desarrollo web por mi cuenta en 2022 y ¡me encanta! Me considero una persona muy responsable con mi trabajo, estudio y mejoro constantemente mis habilidades para complementar todos mis proyectos y disfruto haciéndolo!
    
    La sensación de saber que se puede hacer mejor, de los increíbles proyectos de otras personas que crean, es lo que me motiva constantemente a seguir mejorando para alcanzarlos y superarlos.</p>
<img src="{% static 'AppBlog/assets/img/TH.png' %}" alt="">
<p>¡Hola! Mi nombre es Thiago Marsili, soy de Buenos Aires, Argentina. Soy un chico muy responsable y aplicado.

    Mi principal objetivo es poder llegar a ser full stack y poder trabajar en lo que me gusta que es la programación.</p>
{% endblock %}