{% extends "AppBlog/base.html" %}
{% load static %}

{% block sections %}
<h1>Blogs</h1>
{% for blog in object_list %}
    <ul>
        <li>Titulo: {{blog.title}}</li>
        <li>Dia en que se creo: {{blog.date}}</li>
        <li>
            {% if request.user.is_staff%}
                <a href="{% url  'delete' blog.id %}">Eliminar</a>  
                <br/>
                <a href="{% url  'update' blog.id %}">Editar</a>
                <br/>
            {% endif %}
            <a href="{% url  'detail' blog.id %}">Detalle</a>
        </li>
    </ul>
{% endfor %}
{% endblock %}